name: Lint PR

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited

permissions:
  pull-requests: read

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-24.04
    steps:
      - uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          scopes: |
            api
            auth
            config
            crypto
            db
            deps
            docs
            grants
            migrations
            proxy
            store
            ui
            release
            ci
          requireScope: false
