name: Website

on:
  push:
    branches: [main]
    paths:
      - 'website/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1

      - uses: oven-sh/setup-bun@v2.0.2

      - name: Install dependencies
        run: bun install
        working-directory: website

      - name: Build website
        run: bun run build
        working-directory: website

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.7.3
        with:
          folder: website/build
          branch: gh-pages
          clean: true
